@import 'mixins';

.social {
    width: 100%;
    margin: 127px 0px 61px 0px;
    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
            margin:0px 10px 0px 10px;
            border: 2px #cacad9 solid;
            padding: 10px 10px 5px 10px;
            border-radius: 100%;
            cursor: pointer;
            transition: all 0.3s ease;
            svg {
                width: 20px;
                height: 20px;
                fill: #cacad9;
            }
            &:hover {
                border: 2px #7530e4 solid;
                svg {
                    fill: #7530e4;
                }
                transition: all 0.3s ease;
            }
        }
    }
}